@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(../bower_components/jstree/dist/themes/default/style.css);
@import url(../bower_components/jsgrid/dist/jsgrid.css);
@import url(../bower_components/jsgrid/dist/jsgrid-theme.css);
@import url(../bower_components/jquery-ui/themes/smoothness/jquery-ui.css);
/* line 7, ../sass/styles.scss */
body {
  padding-top: 50px;
}

/* line 10, ../sass/styles.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 15, ../sass/styles.scss */
.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

/* line 20, ../sass/styles.scss */
#main-logo {
  float: left;
  margin-right: 15px;
}

/* line 21, ../sass/styles.scss */
.brand-name {
  color: #fff !important;
}

/* line 22, ../sass/styles.scss */
#navbar {
  float: right;
}

/* line 23, ../sass/styles.scss */
#jquery-logo {
  width: 122px;
}

/* line 24, ../sass/styles.scss */
#bootstrap-logo {
  width: 54px;
}

/* line 25, ../sass/styles.scss */
#sass-logo {
  width: 62px;
}

/* line 26, ../sass/styles.scss */
#yeoman-logo {
  width: 75px;
}

/* line 27, ../sass/styles.scss */
#npm-logo {
  width: 70px;
}

/* line 28, ../sass/styles.scss */
#grunt-logo {
  width: 63px;
}

/* line 29, ../sass/styles.scss */
#bower-logo {
  width: 63px;
}

/* line 30, ../sass/styles.scss */
#compass-logo {
  width: 63px;
}

/* line 31, ../sass/styles.scss */
.cols-margin {
  margin-top: 42px;
}

/* line 32, ../sass/styles.scss */
.gray-text {
  color: #A5A5A5;
}

/* line 33, ../sass/styles.scss */
.docs-btn {
  background-color: #BC24D9;
  border-color: #8D1BA2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;
}
/* line 42, ../sass/styles.scss */
.docs-btn:hover, .docs-btn:active, .docs-btn:focus {
  background-color: #8D1BA2 !important;
  border-color: #8D1BA2 !important;
}

/* line 48, ../sass/styles.scss */
#form1 {
  padding-top: 0.5rem;
  display: -webkit-inline-box;
  padding-left: 2rem;
}

/* line 53, ../sass/styles.scss */
.top-padding-2_0 {
  padding-top: 2.0rem !important;
}

/* line 57, ../sass/styles.scss */
#header {
  display: table-cell;
  vertical-align: bottom;
}

/* line 62, ../sass/styles.scss */
.inline {
  display: inline-flex;
}

/* line 66, ../sass/styles.scss */
#staticForm .inline label {
  padding-right: 1rem;
}
